@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
	background:#ffffff;
	font-family: "Open Sans"; 
	font-size:16px;
	margin:0}
.p {
	font-family:Amiri;
	font-size:22px;
	line-height:2.3;
}
code{
font-size:10px;
color:grey;
}
span{
	font-family:Amiri;
	font-size:16px;
	background:rgba(18,161,134,0.2);
	text-align:center;
	}
blockquote{
 border: 1px solid black;
 border-radius: 20px 5px;
 padding: 10px;
 background: rgba(242, 223, 7, 0.2);
 
}
h3{
	text-align:center;
	font-family:Amiri;
  font-size:25;
}

  .header{
  overflow: hidden;
  position: fixed;
  z-index: 999999;
  top: 0px;
  left: 0px;
  right: 0px;
  max-height: 60px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  background: #ff5722;
  padding-top:10px;
  padding-bottom:4px;
  text-align:center;
  color:#ffffff;
  font-size:16px;
  font-family:Amiri;
  font-weight:bold;
  }
.clear{
height:20px;
}
  .box{
	  margin-top:2px;
	  margin-bottom:50px;
	  padding:20px 10px;
	  text-align:justify;
	  }
	
	.box2{
	padding:10px;
	margin-bottom:10px;
	text-align:right;
	}
.box2 h3{
	text-align:center;
	font-family:Amiri;
  font-size:20px;
}
.box2 p{
	font-family:Amiri;
	font-size:22px;
	line-height:2.3;
	}
.box2 span{
	font-family:Arial;
	font-size:16px;
	}
/* Next & previous buttons */
.prev, .next {
background:rgba(0,0,0,0.8);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 4px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #212121;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 25px;
  font-family:Arial;
  text-align:center;
  width:38px;
  height:38px;
  padding-top: 8px;
  position: fixed;
  bottom:0;
  left:45%;
  margin-top:15px;
  margin-bottom:4px;
  border-radius:90px;
  background:rgba(0,0,0,0.8);
}
